@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
body {
    background-color: #c8c8c8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}
.histoire, .tableau, figure, .protocole, .www, .specification, .code {
    width: 85%;
    margin: auto;
    margin-top: 3%;
}
h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 5.5rem; 
    text-align: center; 
}
/*Le style css pour la section histoire*/
.histoire #contain #w3, .www #contain #w3 {
    color: #BB0011;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    
}
/*Style pour la section tableau*/
.tableau table {
    border-collapse: collapse;
    width: 100%;
}
.tableau h2, .protocole h2 {
    color: #BB0011;
    font-size: 2.5rem;
    font-family: 'Libre Baskerville', serif !important;
    font-weight: bold;
}
.tableau table thead tr{
    background-color: #333333;
    color: white;
    height: 40px;
}
.tableau table tbody tr {
   height: 40px;
}
.tableau table tbody .pair {
    background-color: rgb(229, 233, 235);
}
.tableau table tbody tr:hover {
    background-color: #999999;
    cursor: pointer;
}
.tableau table tbody tr .year {
    font-weight: bold;
}
figure {
    border: 2px solid #BB0011;
    border-radius: 10px;
    background-color: rgb(34, 34, 34);
    color: white;
    text-align: center;
}
figure img{
    width: 90%;
    margin-top: 5%;   
    margin-bottom: 7px;
}
figure figcaption {
    margin-bottom: 5%;
    font-size: 1.5rem;   
}
/*le style css pour la section protocole*/
.protocole .role, .code .inside-code {
    background-color:#B7B7B7;
    border: 3px dashed #4e41ae;
    margin: auto;
    text-align: center;
    color: #4e41ae;
    width: 92%;
    
}
.protocole .role .inside-role, .code .inside-code .html {
    width: 95%;
    margin: auto;       
}
.protocole .role .inside-role p, .code .html {
   line-height: 1.8rem;   
   text-align: left;
}
.protocole p{
    padding-right:3.5%;
}
